:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 62.5%;
  --linear-gradient: linear-gradient(
    hsl(249, 99%, 64%) 0%,
    hsl(278, 94%, 30%) 100%
  );
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

body {
  background: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: calc(100% - 32px);
  padding: 16px;
}

.card {
  grid-row: 1/1;
  grid-column: 1/1;
  width: 83.4%;
  border-radius: 5px;
  overflow: hidden;
}

.card--front {
  z-index: 1;
  margin-top: 94px;
}

.card--back {
  justify-self: end;
}

.card__bg {
  width: 100%;
}

/* 
.attribution {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;

  font-size: 1rem;
  text-align: center;
} */
