.label {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.label__blank {
  align-self: end;
}

.label__text {
  color: var(--deep-violet);

  font: var(--body);
  letter-spacing: 0.2rem;
}

.label__alert {
  color: red;
  font: var(--body-sl);
}

.input {
  width: calc(100% - 3.2rem);
  padding: 1rem 1.6rem;
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.8rem;

  color: var(--deep-violet);

  font: var(--heading-l);
}

.input::placeholder {
  color: var(--deep-violet);

  font: var(--heading-l);

  opacity: 0.25;
}

.input--placeholder {
  color: var(--deep-violet-quarter);

  font: var(--heading-l);
}

.input:focus {
  outline: none;
  background: linear-gradient(white, white) padding-box,
    var(--border-gradient) border-box;
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
}

.input--invalid {
  border: 0.1rem solid var(--red);
}
