.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* margen adicional al botón */
.form .button {
  margin-top: 0.8rem;
}

.form__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.1rem;
}

.form__date {
  display: flex;
  gap: 0.8rem;
}
