.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* margen adicional al botón */
.form .button {
  margin-top: 0.8rem;
}

/* TODO: solucionar problema de tamaños en celulares */
.form__group {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.form__group label:nth-child(even) {
  margin-left: 0.8rem;
  margin-right: 1.1rem;
}
