.modal {
  margin: 0 auto;
  max-width: 38.1rem;
  text-align: center;
}

.modal__icon {
  width: 8rem;
}

.modal__body {
  margin: 3.5rem 0 4.8rem;
}

.modal__title {
  margin: 0 0 1.6rem;

  color: var(--deep-violet);

  font: var(--heading-xl);
  letter-spacing: 0.342rem;
}

.modal__text {
  margin: 0;

  color: var(--purplish-grey);

  font: var(--heading-l);
}

@media (min-width: 1440px) {
  .modal {
    margin: 0;
  }
}
