:root {
  /* Font weight range 300-700 */
  font-family: "Space Grotesk", sans-serif;
  font-size: 62.5%;

  --white: hsl(0, 0%, 100%);
  --deep-violet: hsl(278, 68%, 11%);
  --deep-violet-transparent: hsl(279, 34%, 27%);
  --light-grey: hsl(278, 3%, 87%);
  --red: hsl(0, 100%, 66%);
  --border-gradient: linear-gradient(
    to right,
    hsl(249, 99%, 64%) 0%,
    hsl(278, 94%, 30%) 100%
  );
  --card-shadow: 0px 3.9rem 6rem rgba(0, 0, 0, 0.1425);

  --heading-l: 500 1.8rem "Space Grotesk", sans-serif;
  --body-s: 500 0.9rem "Space Grotesk", sans-serif;
  --body: 500 1.2rem "Space Grotesk", sans-serif;
  --body-l: 500 1.4rem "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  font-size: 1.8rem; /* default font size */
  font-weight: 500; /* default weight */
}
